extend layout

block content
	h1 This is the content
	
	//These show up in html, but the next one doesn't
	p here's something!
	//-You can't see me in the html
	p here's something else!
	// p this paragraph will be commented out. The next one won't be visible
	//- p this paragraph won't show up
	
		
block footer
	#footer Copyright &copy; 2013