!!! 5
html
	head
		title Examples of View Includes
		include includes/style.css
	body
		include includes/header.jade
		include includes/content.md
		
		p ... and here is something directly from the Jade view template.
		
		include includes/footer.html
		include includes/script.js