doctype 5
html
	head
		title Jade Template Inheritance
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		p The inherited content goes below:
		
		block content
			p Default Content From Layout
		
		block footer
			p Default Footer
			